@model MyFrankenstein.Models.Monster

@{
    ViewBag.Title = "My Frankenstein - Edit";
}

<h2>Edit Your Monster</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "Monster", FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{  
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true,"Hmmm, there seems to be a problem ...")

    <fieldset>
        <legend>Monster Mash</legend>

        @Html.HiddenFor(model => model.MonsterID)
        @Html.HiddenFor(model => model.Contributor)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Family)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Family)
            @Html.ValidationMessageFor(model => model.Family)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImgName): @Model.ImgName
        </div>
        <div class="editor-field">
            @Html.TextBox("file", "", new { type = "file" }) 
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contributor)
        </div>
        <div class="editor-field">
            @Model.Contributor
        </div>

        @Html.HiddenFor(model => model.ImgUrl)
        @Html.HiddenFor(model => model.ImgName)
        @Html.HiddenFor(model => model.ImgType)
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
